html
  head
    title Profile #{page.title} Page
    style
      include ../../public/styles/bac.css
    body
    include ../partials/header


    div#main
      h1 Hello this is #{page.title}'s Page


    div

      p Title: #{page.title}
      p Page Rank: #{page.page_rank}
      p page content: #{page.content}
        |
        each v,k in page.contentCount
             br
             label #{k} : #{v}
      p this page got visited by #{page.incoming.length} times
      p the pages that outgoing from #{page.title} are:
        each l in page.outgoing
             b
             |
             |
             a(href="/fruits/"+l) #{ l}
      p the pages that incoming to #{page.title} are:
        each l in page.incoming
             b
             |
             |
             a(href="/fruits/"+l) #{ l}
      p the original URL is:
        br
        a(href="https://people.scs.carleton.ca/~davidmckenney/fruitgraph/"+page.title+".html") https://people.scs.carleton.ca/~davidmckenney/fruitgraph/#{page.title}.html


    include ../partials/footer
